.example-icon {
  padding: 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.userInfo
{
    position: absolute;
    left: 22px;
    top: 50px;
}

.selectorBtn{
  width: 100%;
  margin-bottom: 2px;
  text-align: left;
  background-color: #ffffff;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 599px)
{
  .mat-card
  {
      padding: 32px 16px !important;
  }
}

.mat-card
{
  padding: 19px;
}

.sidenavBtn:focus
{
  background-color: #fda291;
  width: 100%;
  text-align: left;
}

.sidenavBtn
{
  width: 100%;
  text-align: left;
}
