.example-icon {
  padding: 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.userInfo
{
    position: absolute;
    left: 22px;
    top: 50px;
}

.selectorBtn{
  width: 100%;
  margin-bottom: 2px;
  text-align: left;
  background-color: #ffffff;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
