.example-icon {
  padding: 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.userInfo
{
    position: absolute;
    left: 22px;
    top: 50px;
}

.selectorBtn{
  width: 100%;
  margin-bottom: 2px;
  text-align: left;
  background-color: #ffffff;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 599px)
{
  .mat-card
  {
      padding: 32px 16px !important;
  }
}

.mat-card
{
  padding: 19px;
      box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12) !important;
}

.sidenavBtn:focus
{
  background-color: #fda291;
  width: 100%;
  text-align: left;
}

.sidenavBtn
{
  width: 100%;
  text-align: left;
}

.mat-card-image
{
      width: calc(100% + 43px) !important;
}
